@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto+Mono:wght@200&display=swap');

* {
    font-family: 'Climate Crisis', cursive;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: 600px;
    margin-top: 50px;
}

.footer{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: rgb(27, 37, 37);
    font-weight: 900;
}

.cont {
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(120, 122, 122);
}

.display{
    text-align: right;
    background: linear-gradient(rgb(173, 177, 150), rgb(213, 218, 185)); 
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 26px;
    margin-bottom: 5px;
}

.separate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin-bottom: 5px;
}

button{
    padding: 20px;
    flex-basis: 95px;
    font-size: 20px;
}

#bigger, .delete-button{
    flex-basis: 48%;
}

.last-digits{
    font-size: 15px;
    min-height: 20px;
}

